<ion-view class="welcome-page">

	<ion-header-bar class="bar-dark">
		<button class="button button-icon" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>

		<h1 class="title">To Do App</h1>
	</ion-header-bar>

	<ion-content class="welcome-container">
		<h4 class="welcome-title">If you're having trouble using the app, please read the faqs below.</h4>
		
		<div class="section faqs-container">
			<h4>Guide:</h4>
			<ul>
				<li class="faq">Q: What is a folder, list and a task?</li>
				<li class="ans">
					A: In the context of this app, a folder is a container for your lists and while a list a container for your tasks.
				</li>

				<li class="faq">Q: Can I use this app to list anything aside from todo lists?</li>
				<li class="ans">
					A: Of course! Do as you please. You can use whatever purpose it may serve.
				</li>

				<li class="faq">Q: How to a folder?</li>
				<li class="ans">
					A: It is very simple. Just open the sidemenu and click on the plus icon at the top of the sidemenu.
				</li>

				<li class="faq">Q: How to a list?</li>
				<li class="ans">
					A: Once you have succesfully created a folder, click on the folder and you will redirected to the folder page. Once there, you will see a note icon at the top right corner of the screen. Click that and the rest is easy.
				</li>

				<li class="faq">Q: How to a task?</li>
				<li class="ans">
					A: Similar to adding a list, just click on the list and you will redirected to tasks page. Once there, repeat the same process for adding a list.
				</li>

				<li class="faq">Q: How to edit and delete lists and tasks</li>
				<li class="ans">
					A: Simply swipe a list towards the left side of the screen and the options will be displayed.
				</li>

				<li class="faq">Q: How to set a task to complete?</li>
				<li class="ans">
					A. Just click on a task and it will be automatically set to complete.
				</li>
			</ul>
		</div>

		<!-- <div class="section faqs-container">
			<h4>Faqs:</h4>
			<ul>
				<li class="faq">Q: How to add folder</li>
				<li class="ans">A: Adding, Editing, Deleting of folder/categories.</li>
				<li class="faq">Q: How to add folder</li>
				<li class="ans">A: Adding, Editing, Deleting of folder/categories.</li>
			</ul>
		</div> -->


	</ion-content>
</ion-view>
