<ion-view>
	
	<ion-header-bar class="bar-dark">
		<button class="button button-icon" menu-toggle="left">
			<i class="icon ion-navicon"></i>
		</button>

		<h1 class="title">{{activeFolder.title}}</h1>
		<!-- New Task button-->
		<button class="button button-icon" ng-click="newList()">
			<i class="icon ion-compose"></i>
		</button>
	</ion-header-bar>

	<ion-content>
      <!-- <ion-list>
        <ion-item ng-repeat="list in activeFolder.lists">
          {{list.title}}
        </ion-item>
      </ion-list> -->


	<ion-list can-swipe="listsCanSwipe" class="list-of-lists">
	    <ion-item 
	    	ng-repeat="list in activeFolder.lists"
	    	class="item item-icon-right">

			<h4 class="list-title">{{list.title}}</h4>
      
      <div class="task-container">
        <div class="list-tasks" 
          ng-class="{completed: task.isCompleted}" 
          ng-repeat="task in list.tasks" 
          ng-click="toggleCompleteTask($parent.$index, $index)">

          <div class="row">
            <div class="col task-title">{{task.title}}</div>
            <!-- <div class="col task-delete">
              <button class="button button-icon ion-ios-close-outline" ng-click="deleteTask($event, $parent.$index, $index)"></button>
            </div> -->                    
          </div>
          
        </div>
      </div>

			<a href="#/app/tasks/{{$index}}"><i class="icon ion-ios-plus-empty edit-list"></i></a>
			
			<ion-option-button class="button ion-edit" ng-click="editList($index)">
			</ion-option-button>

			<ion-option-button class="button button-assertive ion-android-remove-circle" ng-click="deleteList($index)">
			</ion-option-button>

	    </ion-item>
	</ion-list>

    </ion-content>
</ion-view>

<!-- Modal for adding new list -->

<script id="add-list-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add List</h1>
      <button class="button" ng-click="closeNewListModal()">
        Cancel
      </button>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="createList(list)">
        <div class="list">
          <ion-input class="item item-input">            
            <input type="text" placeholder="Enter the name of your list" ng-model="list.title">
          </ion-input>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create a List</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<!-- Modal for editing list -->
<script id="edit-list-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Edit List</h1>
      <button class="button" ng-click="closeEditListModal()">
        Cancel
      </button>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="updateList(listToEdit)">


        <div class="list">

          <ion-input class="item item-input">            
            <input type="text" placeholder="Enter the name of your list" ng-model="listToEdit.title">
          </ion-input>

          <div class="task-container">
            <div class="list-tasks" 
            ng-class="{completed: task.isCompleted}" 
            ng-repeat="task in listToEdit.tasks" 
            ng-click="toggleCompleteTask($parent.$index, $index)">

            <div class="row">
              <div class="col task-title">
                <ion-input class="item item-input">            
                  <input type="text" placeholder="Enter the name of your list" ng-model="task.title">
                </ion-input>
                <div class="task-delete">
                  <button class="button button-icon ion-ios-close-outline" ng-click="deleteTask($event, listToEdit, $index)"></button>
                </div> 
              </div>                                  
            </div>

            </div>
          </div>


        </div>


        <div class="padding">
          <button type="submit" class="button button-block button-positive">Save Changes</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>