<ion-view view-title="To Do App">
  <ion-content>
	<h1>Welcome!</h1>
	<p>To Do App is a simple program that let's you add list of tasks and categorized them by folder.</p>
	<p>
		Here's the flow: </br>
		<ul>
			<li>Open the sidebar and add a folder.</li>
			<li>Click the folder and add a list.</li>
			<li>Click the list and tasks to it.</li>
		</ul>
	</p>
	<p>
		Features: </br>
		<ul>
			<li>Adding, Editing, Deleting of folder/categories.</li>
			<li>Adding, Editing, Deleting of lists.</li>
			<li>Adding, Editing, Deleting of tasks.</li>
		</ul>
	</p>
  </ion-content>
</ion-view>
