/* Empty. Add your own CSS if you like */

.main-sidebar .add-folder:before, .main-sidebar .delete-folder:before{
	font-size: 20px !important;
}

.main-sidebar .edit-folder{
	font-size: 20px;
}

.main-sidebar .home-link{
	color:#fff;
}

.main-sidebar .home-link a{
	padding:0 !important;
}