/* Across the app */

.html, .body, div, a, input{
	font-family: 'Raleway', sans-serif;
	color:#fff !important;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lobster', sans-serif;
	color: #fff;
}

.item-input{
	background: #E91E63;	
}

input::-webkit-input-placeholder {
   color: #fff;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

input:-ms-input-placeholder {  
   color: #fff;  
}

.button.app-btn{
	background: #333;
}

.item-content{
	background: #E91E63 !important;
}

.bar-header{
	background: #C2185B !important;
}

.completed{
	color:#ddd;
	text-decoration: line-through;
}

.scroll-content{
	background: #E91E63 !important;
}

.button-bar a{
	border-radius: 0;
}


/* Left Sidebar */

.menu-left .bar-header{
	background: #555 !important;
}

.menu-left .bar-header button{
	color:#FF4081;
}

.menu-left .scroll-content{
	background: #555 !important;
}

.menu-left .button-bar a, .menu-left .button-bar button{
	background: #777 !important;
	color: #fff;
} 


.menu-left .item-content{
	background: #555 !important;
	color: #fff;
}

.main-sidebar .add-folder:before, .main-sidebar .delete-folder:before{
	font-size: 20px !important;
}

.main-sidebar .edit-folder{
	font-size: 20px;
	color:#FF4081;	
}

.main-sidebar .home-link{
	color:#fff;
}

.main-sidebar .home-link a{
	padding:0 !important;
}

/* Welcome Page */

.welcome-page .bar-header button{
	color:#fff;
}

.welcome-page .welcome-title, .welcome-page .welcome-statement{
	text-align: center;
}

.welcome-page .welcome-statement{
	margin-bottom: 35px;
}

.welcome-page .ion-navicon:hover{
	pointer:cursor;
}

.welcome-container{
	padding:10px 20px;
}

.welcome-container .section{
	margin-bottom: 20px;
}

/* List Page */
.list-of-lists{
	
}

.list-of-lists .list-title{
	font-size: 16px;
	height:35px;
	line-height:35px;
}

.list-of-lists .list-tasks{
	font-size: 14px;
	padding-left: 5px;
}

.list-of-lists .edit-list, .list-of-lists .add-task-btn {
	font-size: 20px;
	align-items: flex-start;
	padding-top: 24px;
}

.list-of-lists .add-task-btn{
	color:#fff;
}

.button.delete-btn{
	background: #555;
}

.list-of-lists .task-container{	
}

.task-container .row, .task-container .row .col{
	padding: 0;
}

.task-container .task-title{
	position: relative;
}

.task-container .task-delete{
	width:35px;
	position: absolute;
	top:0;
	right: 0;
	z-index: 10;
	margin-top: -1px;
}

.task-container .task-delete button{
    width: 100%;
    background: #555;
    color: #fff;		
	border-radius: 0;
	border:2px solid #fff;
}
